#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.arrow {
  cursor: pointer;
  transition: all 0.2s ease;
}

.arrow:hover {
  transform: scale(1.2);
}

.merch-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  
}

.merch-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1em;
  margin: 1em 0;
  align-items: center;
  transition: all 0.2s ease;
}

.merch-item img {
  border-radius: 8px;
}

.merch-item:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.merch-item h3 {
  font-weight: bold;
}