body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: auto;
  align-items: center;
  padding: 20px 2% 20px 2%;
  margin: 0;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  justify-content: right;
  align-items: right;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: all 0.5s ease;
}
.navbar-links a:hover {
  color: #007bff;
}

#merch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.merch-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  
}

.card {
  width:300px;
  border-radius: 20px;
  transition: all 0.2s ease;
}

.card-img-top {
  border-radius: 20px 20px 0 0;
}

.card:hover {
  transform: scale(1.05);
}
